name: Debug Terraform

on:
  push:
    branches:
      - main
    paths:
      - "Infra/terraform/**"
  workflow_dispatch: {} 

permissions:
  contents: read
  id-token: write

jobs:
  debug:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Infra/terraform
        
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      #ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

#    - name: Terraform Apply
#      run: terraform apply -auto-approve
